# Intelligence Artificielle
## (II) Exploration des donn√©es avec pandas
2022-2023

---
![image.png]()

**pandas**
- Vise √† manipuler et analyser les donn√©es
- Consiste √† explorer les donn√©es √† partir des donn√©es tabulaires (**csv** ou **excel**)
- Fournit des outils pour le nettoyage, la fusion, le filtrage et l'agr√©gation des donn√©es


<font color='blue'> NB. Les deux principales structures de donn√©es fournies par pandas sont **Series** et **DataFrame** </font>

<u>**<font color='green'>Importation de biblioth√®ques**</u></font> <br>

In [ ]:
import numpy as np

import pandas as pd

---
### **<font color='red'> Qu‚Äôest-ce qu‚Äôun dataframe ?</font>**

---
Structure bidimensionnelle semblable √† un tableau avec des lignes et des colonnes

![image.png]()

---
### **<font color='blue'>Assemblage Google colab avec drive</font>**
---

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

---
### **<font color='red'> Lecture de dataframes (√† partir d‚Äôun fichier csv ou un fichier Excel)</font>**
---

**√Ä partir d'un fichier excel (<font color='blue'>pd.read_excel(...)</font>)**

In [ ]:
df=pd.read_excel('/content/drive/MyDrive/exemple.xlsx') #sheet_name! par d√©faut sheet_name=0 / sheet_name="ex1"
print(df)

   A1   A2   A3  A4
0  20  2.5  ABC   0
1  12  8.0  ABD   0
2  14  4.0  ABE   0
3  18  1.6  ABC   0
4  20  0.7  EEE   0
5  33  0.3  DEZ   0

**√Ä partir d'un fichier csv (<font color='blue'>(<font color='blue'>pd.read_csv(...)</font>)</font>)**

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Iris.csv', sep=",") #par d√©faut sep=","
#df=pd.read_csv('/content/drive/MyDrive/Iris.csv', usecols=[1,2, 3, 4, 5]) # usecols=None
#usecols=['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm', 'Species']
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

---
### **<font color='red'> Propri√©t√©s de dataframes </font>**
---

In [ ]:
#Taille
print(df.shape)
#Dimension
print(df.ndim)
#Nombre d'√©l√©ments
print(df.size)
#Nombre de lignes
print(len(df))
#Noms de colonnes
print(df.columns)
print(list(df))

(150, 6)
2
900
150
Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')
['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm', 'Species']

---
### **<font color='red'> Acc√®s et Slicing du dataframe </font>**
---

Afficher les 3 premi√®res lignes

In [ ]:
df.head(3)
#df.head()#par d√©faut 5 lignes

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa

Afficher les 3 derni√®res lignes

In [ ]:
df.tail(4)
#df.tail()#par d√©faut 5 lignes

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

S√©lectionner toutes les donn√©es de colonne 'Species' de df

In [ ]:
s=df.loc[:,'Species']
# √©quivalent √†
s=df.iloc[:,-1]

print(s)
print(type(s))

print(s[3])

print(s[3:6])

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object
<class 'pandas.core.series.Series'>
Iris-setosa
3    Iris-setosa
4    Iris-setosa
5    Iris-setosa
Name: Species, dtype: object

<font color='blue'> NB. Series -->objet semblable √† un tableau unidimensionnel qui peut contenir n'importe quel type de donn√©es</font>

In [ ]:
df.loc[:,['Species']] #Dataframe
# √©quivalent √†
df.iloc[:,[-1]]

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 1 columns]

In [ ]:
#df['Species']#s√©rie
#df[['Species']]#dataframe

Afficher les lignes d'indices 3, 4, 5 et 6

In [ ]:
df.loc[3:6, :]
df.loc[[3,4,5,6], :]

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa

Afficher les 3 premi√®res lignes des colonnes 'SepalLengthCm',	'SepalWidthCm',	et 'PetalLengthCm'

In [ ]:
df.iloc[:, 0:3].head(3)

   Id  SepalLengthCm  SepalWidthCm
0   1            5.1           3.5
1   2            4.9           3.0
2   3            4.7           3.2

S√©lectionner toutes les lignes de df ayant SepalLengthCm>5

In [ ]:
df[df['SepalLengthCm']>5]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
5,6,5.4,3.9,1.7,0.4,Iris-setosa
10,11,5.4,3.7,1.5,0.2,Iris-setosa
14,15,5.8,4.0,1.2,0.2,Iris-setosa
15,16,5.7,4.4,1.5,0.4,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

---
### **<font color='red'> Cr√©ation de dataframes </font> (<font color='blue'>pd.DataFrame(...)</font>)**
---

**√Ä partir d‚Äôune liste**

In [ ]:
#
data = [1,2,3,4,5]
#ou data = [i for i in range(6)]

df = pd.DataFrame(data)
df
#Liste de liste
data = [['Jean',10],['Arno',12],['Anne',13]]
df= pd.DataFrame(data,columns=['Pr√©nom','Age'])
df

  Pr√©nom  Age
0   Jean   10
1   Arno   12
2   Anne   13

**√Ä partir d‚Äôun tableau ndarray**

In [ ]:
#Cr√©ation d'un DataFrame de 2 lignes sur 3 colonnes
arr = np.array([[11,22,33],[44,55,66]])



#Red√©finition d'indexage

df = pd.DataFrame(arr, columns = ['Column_A','Column_B','Column_C'], index = ['Item_1', 'Item_2'])
df

        Column_A  Column_B  Column_C
Item_1        11        22        33
Item_2        44        55        66

**√Ä partir d‚Äôun dictionnaire**

In [ ]:
#Cr√©ation d'un DataFrame √† partir d'un dictionnaire de liste
data = {'Pr√©nom':['Anne', 'Pierre', 'jack', 'Steven'],'Age':[65,31,23,48]}
df = pd.DataFrame(data)
df

   Pr√©nom  Age
0    Anne   65
1  Pierre   31
2    jack   23
3  Steven   48

In [ ]:
#Cr√©ation d'un DataFrame √† partir d'un dictionnaire de liste (+ index)
#data = {'Pr√©nom':['Anne', 'Pierre', 'jack', 'Steven'],'Age':[65,31,23,48]}
#df = pd.DataFrame(data, index=['rang1','rang2','rang3','rang4'])
#df

       Pr√©nom  Age
rang1    Anne   65
rang2  Pierre   31
rang3    jack   23
rang4  Steven   48

In [ ]:
#Utilisation d'une liste de dictionnaire
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
df

   a   b     c
0  1   2   NaN
1  5  10  20.0

---
### **<font color='red'> Op√©rations sur les dataframes </font>**
---

**Fusion des dataframes(<font color='blue'>pd.concat(...)</font>)**

In [ ]:
arr = np.array([[11,22,33],[44,55,66], [7,8,9], [99,88,33]])
df = pd.DataFrame(arr, columns = ['A','B','C'])

arr1 = np.array([[10,10,10],[12,12,12],[13,13,13]])

df1 = pd.DataFrame(arr1, columns = ['E','F','G'])

df2=pd.concat([df, df1], ignore_index=True)
df2

      A     B     C     E     F     G
0  11.0  22.0  33.0   NaN   NaN   NaN
1  44.0  55.0  66.0   NaN   NaN   NaN
2   7.0   8.0   9.0   NaN   NaN   NaN
3  99.0  88.0  33.0   NaN   NaN   NaN
4   NaN   NaN   NaN  10.0  10.0  10.0
5   NaN   NaN   NaN  12.0  12.0  12.0
6   NaN   NaN   NaN  13.0  13.0  13.0

In [ ]:
df2=pd.concat([df, df1], axis=1) # ignore_index=True ?
df2

    A   B   C     E     F     G
0  11  22  33  10.0  10.0  10.0
1  44  55  66  12.0  12.0  12.0
2   7   8   9  13.0  13.0  13.0
3  99  88  33   NaN   NaN   NaN

**R√©initialisation de l'index des lignes de dataframes(<font color='blue'>df.reset_index(...)</font>)**

In [ ]:
df1 = pd.DataFrame(arr1, columns = ['A','B','C'])

df2=pd.concat([df, df1])
df2.reset_index(drop=True, inplace=True)
df2

    A   B   C
0  11  22  33
1  44  55  66
2   7   8   9
3  99  88  33
4  10  10  10
5  12  12  12
6  13  13  13

**Suppression des lignes/colonnes √† partir d'un dataframe(<font color='blue'>df.drop(...)</font>)**

In [ ]:
#Supprimer les donn√©es de la colonne X2 de df

df.drop(labels=[2,3,4],axis=0, inplace=True)
df

    B   C
0  22  33
1  55  66
5  12  12
6  13  13

In [ ]:
#Supprimer les lignes d'indice 1 et 3 de df2 (par d√©faut axis=0)
df=df.drop(index=[1,3])

**Tri sur les donn√©es d'un dataframe(<font color='blue'>df.sort_values(...)</font>)**

In [ ]:
arr = np.array([[11,22,33],[44,55,66], [7,8,9], [99,88,33]])
df = pd.DataFrame(arr, columns = ['A','B','C'])
df

    A   B   C
0  11  22  33
1  44  55  66
2   7   8   9
3  99  88  33

In [ ]:
df.sort_values(by='B', inplace=True,ascending=False )
#df.sort_values(by='B', inplace=True,ascending=False, ignore_index=True)
df

    A   B   C
3  99  88  33
1  44  55  66
0  11  22  33
2   7   8   9

In [ ]:
arr = np.array([[11,22,33],[44,55,66], [7,8,9], [99,88,33]])
df = pd.DataFrame(arr, columns = ['A','B','C'])
df.sort_values(by='B', inplace=True,ascending=False )
df.reset_index(drop=True, inplace=True)
df

    A   B   C
0  99  88  33
1  44  55  66
2  11  22  33
3   7   8   9

In [ ]:
#serie=df['B'].sort_values(ascending=False)
#print(serie)
#serie=serie.reset_index(drop=True)
#print(serie)
#df['B']=serie
#df

**Changement des noms des colonnes d'un dataframe(<font color='blue'>df.rename(...)</font>)**

In [ ]:
df.rename(columns={'A':'D', 'B':'E'}, inplace=True)
df

    D   E   C
3  99  88  33
1  44  55  66
0  11  22  33
2   7   8   9

**Conversion DataFrame --> ndarray(<font color='blue'>.values</font>)**

In [ ]:
X=df.iloc[:,-1]
Y=df.iloc[:,[-1]]
Z=df.iloc[:,[0,1]].values

print(type(X), X.shape)
print(type(Y), Y.shape)
print(type(Y), Z.shape)

**Divers(<font color='blue'>modification/ somme d'une colonne/ valeurs manquantes/...</font>)**

In [ ]:
df.loc[2,'B']=np.nan
df

    A     B   C
2   7   NaN   9
3  99  88.0  33

In [ ]:
df=pd.DataFrame(np.ones([1,3]))
df1=pd.concat([df,df], axis=1) ; print (df1.shape)

(1, 6)